{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% macro WriteLogFileEntryContent(entry) %}
    {%- if entry.getComplexColumnCount > 0 -%}
        <td colspan="4">{{ entry.ComplexLogEntry.MainMessage }}:</td></tr>
            {% for key, value in entry.ComplexLogEntry.DataAsArray %}
                {%- if entry.getComplexColumnCount == 1 -%}
                    <tr><td>{{ key|first_letter_capital }}:</td><td colspan="3">{{ value.0 | raw }}</td></tr>
                {% else -%}
                    {# Special handler for messages containing newlines (i.e. some serial letter changes) #}
                    {% set linesOld = value.0|split('\n') %}
                    {% set linesNew = value.1|split('\n') %}
                    {# When there are newlines in the value, then write those as seperate lines in the table #}
                    {% for i in 0..linesOld|length - 1 %}
                        <tr><td>{{ key|first_letter_capital }}:</td><td>{{ linesOld[i] | default('-') | raw }}</td><td>&nbsp;&rarr;&nbsp;</td><td>{{ linesNew[i] | default('-') | raw }}</td></tr>
                    {% endfor %}
                {% endif -%}
            {%- endfor -%}
    {%- else -%}
        <td colspan="4">{{ entry.logentry }}</td></tr>
    {%- endif -%}
{% endmacro %}

{% macro writeLogfileEntry(entry, showTypeAndOnWho) %}
    {% import _self as self %}
    {# The data can contain multiple lines, when there is complex data. If so, the general data elements (date, type, ... #}
    {# must be written over multiple lines #}
    <tr><td rowspan="{{ entry.dataRowCount }}" style="white-space:nowrap;">{{ entry.date|date }}</td>
        <td rowspan="{{ entry.dataRowCount }}">{% if entry.changedByMember %}{{ entry.changedByMember.completeName }}{% endif %}</td>
        {% if showTypeAndOnWho %}
        <td rowspan="{{ entry.dataRowCount }}">{% if entry.changesOnMember %}{{ entry.changesOnMember.completeName }}{% endif %}</td>
        <td rowspan="{{ entry.dataRowCount }}">{{ entry.changeType }}</td>
        {% endif %}
        {{ self.WriteLogFileEntryContent(entry) }}
{% endmacro %}
