{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Login at{% endtrans %} {{ site_name[app.request.locale] }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{% trans %}Login at{% endtrans %} {{ site_name[app.request.locale] }}:</h3>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}

                    <button type="submit" class="btn btn-outline-secondary">{% trans %}Login{% endtrans %} <span class="fas fa-lock"></span></button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                <a href="{{ path('dashboard_about') }}">{% trans %}About this software{% endtrans %}</a>
                &nbsp;&nbsp;<i class="fas fa-asterisk"></i>&nbsp;&nbsp;
                {% trans %}Version{% endtrans %} {{ source('VERSION_NUMBER') }}.{{- source('BUILDNUMBER') -}}
            </p>
        </div>
    </footer>
{% endblock %}