{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeEntryLine(label, value) %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{{ label }}</label>
        <div class="col-sm-10 form-control-static">{{ value | raw }}</div>
    </div> <!-- class="row" -->
{% endmacro %}

{% macro writePhoneNumberLine(phoneNumberFormLine) %}
    <tr class="js-phone-number-item">
        <td><a href="#" class="btn btn-link btn-xs pull-left js-remove-phone-number">
                <span class="far fa-trash-alt"></span>
            </a></td>
        <td>{{ form_errors(phoneNumberFormLine) }}{{ form_row(phoneNumberFormLine.phoneNumberType) }}</td>
        <td>{{ form_row(phoneNumberFormLine.phoneNumber) }}</td>
    </tr>
{% endmacro %}

{% macro writeAddressLine(addressFormLine) %}
    <tr class="js-address-item">
        <td><a href="#" class="btn btn-link btn-xs pull-left js-remove-address">
                <span class="far fa-trash-alt"></span>
            </a></td>
        <td>{{ form_errors(addressFormLine) }}{{ form_row(addressFormLine.isMainAddress) }}</td>
        <td>{{ form_row(addressFormLine.address.addressType) }}</td>
        <td>{{ form_row(addressFormLine.address.address) }}</td>
        <td>{{ form_row(addressFormLine.address.zip) }}</td>
        <td>{{ form_row(addressFormLine.address.city) }}</td>
        <td>{{ form_row(addressFormLine.address.country) }}</td>
    </tr>
{% endmacro %}

<div id="contact_data">
    <div class="card mt-3">
        <h6 class="card-header text-dark">{% trans %}Contact data{% endtrans %} &nbsp;
            {%- if edit == false -%}
            <a href="#" id="open_contact_data"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
            {%- endif -%}
            </h6>
        <div class="card-body">
            <div class="col-md-12 form-horizontal">
                {%- if edit == true -%}
                <form action="{{ path('member_edit_contact_data', {'id': member.Id, 'template': 'contact_data'}) }}" method="post" class="form-horizontal">
                    {% endif %}
                    {%- if edit == false -%}
                        {{ self.writeEntryLine('Email', member.Email | default('-')) }}
                    {% else %}
                        {{ form_row(form.email) }}
                    {% endif %}
                    <div class="row">
                        <label for="member_entry_name" class="required col-sm-2 control-label">{{ 'Phone numbers' | trans }}</label>
                        <div class="col-sm-10 form-control-static">
                                {%- if edit == false -%}
                                    <table class="table">
                                    <thead><tr><th>{% trans %}Phone number type{% endtrans %}</th><th>{% trans %}Phone number{% endtrans %}</th></thead>
                                    <tbody>
                                    {% for phoneNumber in member.phoneNumbers %}
                                        <tr><td>{{ phoneNumber.phoneNumberType }}</td><td>{{ phoneNumber.phoneNumber }}</td></tr>
                                    {% endfor %}
                                {% else %}
                                    <table class="table">
                                        <thead><tr><th></th><th>{% trans %}Phone number type{% endtrans %}</th><th>{% trans %}Phone number{% endtrans %}</th></thead>
                                        <tbody class="js-phone-number-block"
                                        data-prototype="{{ self.writePhoneNumberLine(form.phone_numbers.vars.prototype)|e('html_attr') }}"
                                        data-index="{{ form.phone_numbers | length }}">
                                    {% for phoneNumberForm in form.phone_numbers %}
                                        {{ self.writePhoneNumberLine(phoneNumberForm) }}
                                    {% else %}
                                        {% do form.phone_numbers.setRendered %}
                                    {% endfor %}
                                    <tr><td colspan="2"><a href="#" class="js-phone-number-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another phone number{% endtrans %}</a></td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- class="row" -->

                    <div class="row">
                        <label for="member_entry_name" class="required col-sm-2 control-label">{{ 'Postal addresses' | trans }}</label>
                        <div class="col-sm-10 form-control-static">
                            <table class="table">
                                <thead><tr><th></th>{% if edit == true %}<th>{% trans %}Main address{% endtrans %}</th>{% endif %}<th>{% trans %}Address type{% endtrans %}</th><th>{% trans %}Address{% endtrans %}</th><th>{% trans %}Zip{% endtrans %}</th><th>{% trans %}City{% endtrans %}</th><th>{% trans %}Country{% endtrans %}</th></tr></thead>
                                {% if edit == false %}
                                    <tbody>
                                    {% for address in member.AddressesAsArray%}
                                        {% if loop.first %}
                                            <tr><td>{% trans %}Main address{% endtrans %}</td>
                                        {% else %}
                                            <tr><td>{% trans %}Additional address{% endtrans %}</td>
                                        {% endif %}
                                        <td>{{ address.type }}</td>
                                        <td>{{ address.address }}</td>
                                        <td>{{ address.zip }}</td>
                                        <td>{{ address.city }}</td>
                                        <td>{{ address.country }}</td></tr>
                                    {% endfor %}
                                {% else %}
                                    <tbody class="js-address-block"
                                           data-prototype="{{ self.writeAddressLine(form.member_address_maps.vars.prototype)|e('html_attr') }}"
                                           data-index="{{ form.member_address_maps | length }}">
                                    {% for addressMapForm in form.member_address_maps %}
                                        {{ self.writeAddressLine(addressMapForm) }}
                                    {% else %}
                                        {% do form.member_address_maps.setRendered %}
                                    {% endfor %}
                                    <tr><td colspan="7"><a href="#" class="js-address-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another address{% endtrans %}</a></td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- class="row" -->
                    <div class="row">
                        <label for="member_entry_name" class="required col-sm-2 control-label">{% trans %}Mailing lists{% endtrans %}</label>
                        <div class="col-sm-10 form-control-static">
                            <table class="table">
                                {% if edit %}
                                    {% for mailingList in form.mailingLists %}
                                        {% if is_granted('ROLE_MANAGE_MAILINGLISTS') %}
                                            <tr><td>{{ form_widget(mailingList) }}</td><td>{{ form_label(mailingList) }}</td></tr>
                                         {% else %}
                                             {% if mailingList.vars.data %}
                                                 <tr><td>{{ form_widget(mailingList, { 'attr': {'class': 'hidden'}}) }}</td><td>{{ form_label(mailingList) }}</td></tr>
                                             {% else %}
                                                 {% do mailingList.setRendered %}
                                             {% endif %}
                                         {% endif %}
                                    {% endfor %}

                                {% else %}
                                    {% for mailingList in member.MailingLists %}
                                        <tr><td>{{ mailingList.listName() }}</td></tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                    </div> <!-- class="row" -->
                    {%- if edit == true -%}
                        <button type="submit" class="btn btn-outline-secondary" id="save_contact_data">{% trans %}Save{% endtrans %}</button>
                        <button type="reset" class="btn btn-outline-secondary" id="reset_contact_data">{% trans %}Cancel{% endtrans %}</button>
                        {{ form_end(form) }}
                    {% endif %}
            </div>  <!-- class="col-md-12" -->
        </div>  <!-- class="panel-body" -->
    </div>  <!-- class="panel panel-default" -->
</div>  <!-- id="personal_data" -->

<script>
    $(function(){
        $('#open_contact_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_edit_contact_data', {'id': member.Id})  }}', 'GET', '', '#contact_data', false));
        });

    });

    $(function(){
        $('#reset_contact_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_cancel_contact_data', {'id': member.Id})  }}', 'GET', '', '#contact_data', false));
        });
    });

    $(function(){
        $('#save_contact_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('member_edit_contact_data', {'id': member.Id})  }}', 'POST', form_data, '#contact_data', true));
        });
    });

    $(document).ready(function() {
        var $block_phone = $('.js-phone-number-block');
        // This function is called when a phone number delete button is clicked.
        $block_phone.on('click', '.js-remove-phone-number', function(e) {
           e.preventDefault();
           var $item = $(this).closest('.js-phone-number-item');
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
           $item.fadeOut(300,function () {
               $(this).remove();
           });
        });

        // This function is called when the phone number add button is clicked. It generates an additional phone number and type entry field.
        $block_phone.on('click', '.js-phone-number-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $block_phone.data('prototype');

            // get the new index$block
            var index = $block_phone.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $block_phone.data('index', index + 1);

            $(this).closest('tr').before(newForm);
        });

        var $block_address = $('.js-address-block');
        // This function is called when an address delete button is clicked.
        $block_address.on('click', '.js-remove-address', function(e) {
            e.preventDefault();
            var $item = $(this).closest('.js-address-item');
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });

        // This function is called when the address add button is clicked. It generates an additional address form.
        $block_address.on('click', '.js-address-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $block_address.data('prototype');

            // get the new index$block
            var index = $block_address.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $block_address.data('index', index + 1);

            $(this).closest('tr').before(newForm);
        });

        $block_address.on('change', 'input.toggle', function() {
            $block_address
                .find('input.toggle')
                .not(this)
                .removeAttr('checked');
        });
    });

</script>
