{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Create new member' : ''} %}

{% import _self as self %}

{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeEntryLine(formElement) %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{{ form_label(formElement) }}</label>
        <div class="col-sm-6 form-control-static">{{ form_widget(formElement) }}</div>
    </div> <!-- class="row" -->
{% endmacro %}

{% block body %} 

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2">
        <div class="card-body">
            <div class="col-md-9 form-horizontal">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                {{ self.writeEntryLine(form.firstName) }}
                {{ self.writeEntryLine(form.name) }}
                {{ self.writeEntryLine(form.gender) }}
                {{ self.writeEntryLine(form.status) }}
                {{ self.writeEntryLine(form.preferredLanguage) }}
            {{ form_end(form) }}
            </div>
        </div> <!-- panel-body -->
    </div> <!-- panel -->
</div>  <!-- container -->
{% endblock %}

