{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<div id="financial_data">
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Financial data{% endtrans %} &nbsp;
        </h6>
        <div class="card-body">
            <div class="col-md-12 form-horizontal">
                <table class="table table-striped">
                    {% if membershipFeeTransactions is empty %}
                        <tr><td colspan="4">{% trans %}No transactions found{% endtrans %}</td></tr>
                    {% else %}
                        <tr><th>{% trans %}Type{% endtrans %}</th><th>{% trans %}Amount{% endtrans %}</th><th>{% trans %}Billing date{% endtrans %}</th><th>{% trans %}Paid{% endtrans %}</th></tr>
                        {% for membershipFeeTransaction in membershipFeeTransactions %}
                            <tr><td>{% trans %}Membership fee{% endtrans %}</td><td>{{ membershipFeeTransaction.amount|format_currency('EUR') }}</td><td>{{ membershipFeeTransaction.createDate|format_datetime('medium', 'none') }}</td><td>{{ membershipFeeTransaction.closeDate is empty ? "-" : membershipFeeTransaction.closeDate|format_datetime('medium', 'none') }}</td></tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>  <!-- class="col-md-12" -->
        </div>  <!-- class="panel-body" -->
    </div>  <!-- class="panel panel-default" -->
</div>  <!-- id="log_entries" -->
