{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import 'Logfile/logfile_entry_table.html.twig' as log %}

<div id="log_entries">
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Log entries{% endtrans %} &nbsp;
        </h6>
        <div class="card-body">
            <div class="col-md-12 form-horizontal">
                <table class="table table-striped">
                    <tr><th>{% trans %}When{% endtrans %}</th><th>{% trans %}By whom{% endtrans %}</th><th colspan="4">{% trans %}What{% endtrans %}</th></tr>
                    {% for logfile_entry in logfile_entries %}
                        {{ log.writeLogfileEntry(logfile_entry, false) }}
                    {% else %}
                        <tr><td colspan="5">{% trans %}No log file entries found{% endtrans %}</td></tr>
                    {% endfor %}
                </table>
            </div>  <!-- class="col-md-12" -->
        </div>  <!-- class="panel-body" -->
    </div>  <!-- class="panel panel-default" -->
</div>  <!-- id="log_entries" -->
