{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeEntryLine(label, value) %}
    <div class="row">
        <label for="member_entry_name" class="required col-sm-2 control-label">{{ label | trans }}</label>
        <div class="col-sm-10 form-control-static">{{ value | raw }}</div>
    </div> <!-- class="row" -->
{% endmacro %}

<div id="personal_data">
    <div class="card mt-2">
        <h6 class="card-header text-dark">{% trans %}Personal data{% endtrans %} &nbsp;
            {%- if edit == false -%}
            <a href="#" id="open_personal_data"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
            {%- endif -%}
            </h6>
        <div class="card-body js-content-block">
                <div class="row">
                    <div class="col-md-9 form-horizontal">
                    {%- if edit == false -%}
                        {{ self.writeEntryLine('Title', member.Title | default('-')) }}
                        {{ self.writeEntryLine('Gender', member.Gender(true)|trans) }}
                        {{ self.writeEntryLine('First name', member.Firstname) }}
                        {{ self.writeEntryLine('Name', member.Name) }}
                        {{ self.writeEntryLine('Birthday', member.Birthday is empty ? "" : member.Birthday| date("d.m.Y")) }}
                        {{ self.writeEntryLine('Preferred language', member.PreferredLanguage) }}
                        {{ self.writeEntryLine('Password', '----------') }}
                        {% else %}
                            <form action="{{ path('member_edit_personal_data', {'id': member.id}) }}" method="post" class="form-horizontal">
                                {{ self.writeEntryLine('Title', form_widget(form.title)) }}
                                {{ self.writeEntryLine('Gender', form_widget(form.gender)) }}
                                {{ self.writeEntryLine('First name', form_widget(form.firstName)) }}
                                {{ self.writeEntryLine('Name', form_widget(form.name)) }}
                                {{ self.writeEntryLine('Birthday', form_widget(form.birthday)) }}
                                {{ self.writeEntryLine('Preferred language', form_widget(form.preferredLanguage)) }}
                                {{ form_row(form.plainPassword.first, {'label': 'New password' | trans, 'attr': {'autocomplete': 'false', 'readonly': 'readonly', 'onfocus':'this.removeAttribute("readonly");'}}) }}
                                {{ form_row(form.plainPassword.second, {'label': 'Repeat new password' | trans}) }}
                        <button type="submit" class="btn btn-outline-secondary" id="save_personal_data">{% trans %}Save{% endtrans %}</button>
                        <button type="reset" class="btn btn-outline-secondary" id="reset_personal_data">{% trans %}Cancel{% endtrans %}</button>
                                {{ form_end(form) }}
                                {% endif %}
                            
                    </div>  <!-- class="col-md-9" -->
                    <div class="col-md-3">
                        <img src="{{ asset('member_pictures') }}/{{ member.Picture | default("anonymous.gif") }}"/>
                    </div>  <!-- class="col-md-2" -->
                </div>  <!-- class="row" -->
        </div>  <!-- class="panel-body" -->
    </div>  <!-- class="panel panel-default" -->
</div>  <!-- id="personal_data" -->

<script>
    {% if reloadPage is defined %}
    {% if reloadPage %}
    // When the locale has been changed (i.e. after a language change), reload the complete page to use the new locale.
    $(document).ready(function() {
        setTimeout(pageReload, 1000);
    });

    function pageReload(){
        location.reload();
    }
    {% endif %}
    {% endif %}
        $(function(){
        $('#open_personal_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_edit_personal_data', {'id': member.id})  }}', 'GET', '', '#personal_data', false));
        });

    });

    $(function(){
        $('#reset_personal_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('member_cancel_personal_data', {'id': member.id})  }}', 'GET', '', '#personal_data', false));
        });
    });

    $(function(){
        $('#save_personal_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('member_edit_personal_data', {'id': member.id})  }}', 'POST', form_data, '#personal_data', true));
        });
    });
</script>
