/*
 * Base structure
 */

/*!* Move down content because we have a fixed navbar that is 50px tall *!*/
/*body {*/
/*  padding-top: 60px;*/
/*  !* Margin bottom by footer height *!*/
/*  margin-bottom: 100px;*/
/*}*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #FFFFFF;
}

body {
  font-size: 14px;
  margin-bottom: 60px;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: "FontAwesome";
  content: "\f054";
  font-weight: 900;
}

body > .container, .container-fluid {
  padding: 60px 15px 0;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.container .text-muted {
  margin: 20px 0;
}

ul.dashboard {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li.dashboard{
  float: left;
  text-align: center;
}

a.dashboard {
  display: block;
  padding: 20px;
  border: 1px;
  color: #337ab7;
}

span.dashboard {
  display: block;
  padding: 20px;
  border: 1px;
  border-color: #0000BB;
}

.rotate div {position: absolute;}

.rotate {

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  writing-mode: bt-rl;
  text-indent: -3em;

  padding: 0px 0px 0px 0px;
  margin: 0px;
  text-align: left;
  vertical-align: top;
}

input.hidden {
  display: none;
}

div.hidden {
  display: none;
}

del {
  text-decoration: line-through;
  background-color: orangered;
}

/* This is needed in case there are elements between <del></del> */
del > * {
  text-decoration: line-through;
  background-color: orangered;
}

ins {
  text-decoration: underline;
  background-color: greenyellow;
}

/* This is needed in case there are elements between <ins></ins> */
ins > * {
  text-decoration: underline;
  background-color: greenyellow;
}