{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<h6 class="card-header text-dark">{% trans %}Entry list{% endtrans %}</h6>
<div class="card-body">
    {% if members %}
        <table class="table table-striped js-member-list-table">
        <tr><th>{% trans %}Last name{% endtrans %}</th><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}Email{% endtrans %}</th><th></th></tr>
        {% for member in members %}
            <tr id="js-user-item-{{ member.id }}">
                <td>{{ member.Name }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.Email }}</td>
                {% if member.id == app.user.id %}
                    <td></td>
                {% else %}
                <td><a href="{{ path('administration_delete_users_delete_confirm', {'id': member.id}) }}"  class="btn btn-outline-secondary btn-sm js-open-confirm" data-toggle="tooltip" title="{% trans %}delete user hint{% endtrans %}">{% trans %}Delete user{% endtrans %}</a></td></tr>
                {% endif %}
        {% endfor %}
    </table>
    {% else %}
        {% trans %}No member entries found{% endtrans %}
    {% endif %}
</div><!--  class=card-body -->


<script>
    $(document).ready(function() {
        $('a.js-open-confirm').click(function (event) {
            event.preventDefault();

            $.ajax({url: $(this).attr('href')})
                .done(function(data){
                    // Add response in Modal body
                    $('.modal-content').html(data);

                    // Display Modal
                    $('#confirmWindow').modal('show');
                })
                .fail(function() {
                    // just in case posting your form failed
                    alert( "Posting failed." );
                });
        });

        // Use on('click') here, because #js-delete_button is added after the page is loaded. .click doesn't work in
        // such a case! Also use off to prevent that the event is fired multiple times. This could be a bug in the
        // bootstrap modal functionality, according to
        // https://stackoverflow.com/questions/14969960/jquery-click-events-firing-multiple-times.
        $('#confirmWindow').off('click').on('click', '#js-delete_button', function (event) {
            event.preventDefault();
            $.ajax({url: $('#js-delete_button').attr('href')})
                .done(function(data){
                    // Hide confirm dialogue
                    $('#confirmWindow').modal('hide');
                    // $item is the <tr>
                    let $item = $('#js-user-item-' + data);
                    $item.fadeOut(300, function () {
                        $(this).remove();
                    });

                })
                .fail(function() {
                    // just in case posting your form failed
                    alert( "Posting failed." );
                });
        });
    });
</script>