{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="modal-header">
    <h5 class="modal-title" id="confirmTitle">{% trans %}Confirm deletion of user{% endtrans %}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table">
        <tr><td>{% trans %}Name{% endtrans %}:</td><td>{{ member.name }}</td></tr>
        <tr><td>{% trans %}First name{% endtrans %}:</td><td>{{ member.firstName }}</td></tr>
        <tr><td>{% trans %}Email address{% endtrans %}:</td><td>{{ member.email }}</td></tr>
        <tr><td>{% trans %}User name{% endtrans %}:</td><td>{{ member.username }}</td></tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    <a href="{{ path('administration_delete_users_delete', {'id': member.id}) }}" id="js-delete_button"><button type="button" class="btn btn-primary">{% trans %}Delete user{% endtrans %}</button></a>
</div>
