{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage email notifications' : 'administration_manage_email_notifications'} %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="card mt-3 mb-2" id="email_notifications_content">
            {% include 'Admin/email_notifications_content.html.twig' %}
        </div><!-- card -->
    </div><!-- container-fluid -->

{% endblock %}{# body #}

{%  block javascripts %}
    {{ parent() }}

    <script>
        function doAjax(Url, Type, Data, ReturnLocation)
        {
            $.ajax({
                type: Type,
                url: Url,
                data: Data
            })
                .done(function(data){
                    // show the response
                    $(ReturnLocation).html(data);
                })
                .fail(function() {
                    // just in case posting your form failed
                    alert( "Posting failed." );
                });

            // to prevent refreshing the whole page page
            return false;
        }

    </script>
{% endblock %}{#javascript#}