{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{%- macro writeEmailNotificationRow(formRow, edit) -%}
    {%- import _self as self -%}
    {#- This macro is also used for the template for new members. If so, the formRow has no data elements. In that -#}
    {#- case variables with underscores are added, which are replace by javascript on creation of a new line. -#}
    {%- set firstName    = formRow.vars.data.firstName | default("__member_firstname__") %}
    {%- set name         = formRow.vars.data.name | default("__member_name__") %}
    {%- set id           = formRow.vars.data.id | default("__member_id__") %}
    {%- set data         = 'data-member-id="' ~ id ~ '" '-%}
    {%- set data         = data ~ 'data-member-firstname="' ~ firstName ~ '" '-%}
    {%- set data         = data ~ 'data-member-name="' ~ name ~ '"'-%}
    {%- set row          = formRow.vars.name | default("__name__") -%}
    <tr class="js-email-notification-item" {{ data|raw }}>
        <td>{%- if edit -%}<a href="#" class="btn btn-link btn-xs pull-left js-remove-email-notification">
                <span class="far fa-trash-alt"></span>
            </a>
                {#- Add a hidden form field which contains the id of the member in this line. This is needed by the -#}
                {#- Controller to check if new members are added -#}
                <input type="hidden" id="email_notifications_collection_memberEntries_{{ row }}_memberId" name="email_notifications_collection[memberEntries][{{ row }}][id]" value="{{ id }}" />
                {#<input type="hidden" id="email_notifications_collection_memberEntries_0_id" name="email_notifications_collection[memberEntries][0][id]" value="1669" />#}
                {#{{ form_widget(formRow.id) }}#}
            {% endif %}</td>
        <td>{{ firstName }}</td><td>{{ name }}</td>
        {%- for emailNotification in formRow.emailNotifications -%}
            <td style="text-align: center">{%- if edit -%}
                    {{- form_widget(emailNotification) -}}
                {%- else -%}
                    {% if emailNotification.vars.data %}<span class="fas fa-check"></span>{% endif %}
                {%- endif -%}
            </td>
        {%- endfor -%}

    </tr>
{% endmacro %}

<h6 class="card-header text-dark">{% trans %}Email notifications{% endtrans %} &nbsp;
    {%- if edit == false -%}
        <a href="#" id="edit_email_notifications"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
    {%- endif -%}</h6>
<div class="card-body">
    {% if form.memberEntries|length or edit == true %}
    {%  if edit %}{{ form_start(form) }}{% endif %}
    <table class="table table-striped">
        <thead>
        <tr><th></th><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}Last name{% endtrans %}</th>
            {% for changeType in changeTypes  %}
                <th style="text-align: center">{{ changeType }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="js-email-notification-table"
               data-prototype="{{ self.writeEmailNotificationRow(form.memberEntries.vars.prototype, edit)|e('html_attr') }}"
               data-index="{{ form.memberEntries | length }}">
        {% for formRow in form.memberEntries %}
            {{ self.writeEmailNotificationRow(formRow, edit) }}
        {% endfor %}
    {%- if edit -%}
        <tr><td colspan="{{ changeTypes|length + 3 }}">
            <div class="row" id="email_notifications_collection_add_member">
                <div class="col-md-3">
                    <select id="email_notifications_collection_add_member_select" name="email_notifications_collection_add_member" class="form-control">
                        {% for member in completeMemberList -%}
                            {%- set data =  'data-member-id="' ~ member.id ~ '" '-%}
                            {%- set data =  data ~ 'data-member-firstname="' ~ member.firstName ~ '" '-%}
                            {%- set data =  data ~ 'data-member-name="' ~ member.name ~ '" '-%}
                            {%- set data =  data ~ 'data-member-complete-name="' ~ member.completeName ~ '"'-%}
                            <option value="{{ member.id }}" {{ data | raw }}>{{ member.completeName }}</option>
                        {% endfor -%}
                    </select>
                </div>
                <div class="col-md-2">
                    <a href="#" class="js-email-notification-add"><span class="fas fa-plus-circle"></span> {% trans %}Select user and add email notifications{% endtrans %}</a>
                </div>
            </div>  <!-- class="row" -->
        </td></tr>
    {% endif %}
        </tbody>
    </table>
    {%- if edit -%}
    <button type="submit" class="btn btn-outline-secondary" id="save_email_notifications_data">{% trans %}Save{% endtrans %}</button>
    <button type="reset" class="btn btn-outline-secondary" id="reset_email_notifications_data">{% trans %}Cancel{% endtrans %}</button>
    {{ form_end(form) }}
    {% endif %}
{% else %}
    <p>{% trans %}No email notifications found{% endtrans %}</p>
{% endif %}
</div><!--  class=card-body -->


<script>
    $(function(){
        $('#edit_email_notifications').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_email_notifications_edit')  }}', 'GET', '', '#email_notifications_content'));
        });

    });

    $(function(){
        $('#reset_email_notifications_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_email_notifications', {'showOnlyContentTable': true})  }}', 'GET', '', '#email_notifications_content'));
        });
    });

    $(function(){
        $('#save_email_notifications_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_email_notifications_edit') }}', 'POST', form_data, '#email_notifications_content'));
        });
    });

    $(document).ready(function() {
        var $notification_table = $('.js-email-notification-table');

        // This is called when one of the remove symbols in front of the mailing list rows is clicked. The row then
        // disappears. The members information of this row is added to the selection for adding new members
        $notification_table.on('click', '.js-remove-email-notification', function(e) {
            e.preventDefault();
            // Replace delete symbol by a spinner
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            // $item is the <tr> before the delete symbol
            var $item = $(this).closest('.js-email-notification-item');

            // Read the members data from the tr field
            var memberId = $item.data('member-id');
            var memberFirstName = $item.data('member-firstname');
            var memberName = $item.attr('data-member-name');
            var completeName = memberFirstName + " " + memberName;

            // Generate the data items for the select entry
            var data = 'data-member-id="' + memberId + '" ';
            data += 'data-member-firstname="' + memberFirstName + '" ';
            data += 'data-member-name="' + memberName + '" ';
            data += 'data-member-complete-name="' + completeName + '"';
            // Add the removed member to the select
            var selection = $("#email_notifications_collection_add_member_select");
            selection.append('<option value="' + memberId + '" ' + data + '>' + completeName + '</option>');
            // When there is no entry in the select, that line is hidden. Here show it again.
            $("#email_notifications_collection_add_member").show();

            // Remove the complete line from the table.
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });

        // This function is called when the email notification add button is clicked. It generates an additional email
        // notification form row. This row is generated from the data-prototype information, in which several variables
        // are replaced before they are displayed.
        $notification_table.on('click', '.js-email-notification-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $notification_table.data('prototype');

            // get the new index$block
            var index = $notification_table.data('index');

            var selectOption = $("#email_notifications_collection_add_member_select option:selected");
            var memberId = selectOption.data('member-id');
            var memberFirstName = selectOption.data('member-firstname');
            var memberMemberName = selectOption.attr('data-member-name');
            $("#email_notifications_collection_add_member_select option:selected").remove();
            // When the last entry in the selection list is added, hide the add line.
            if ($("#email_notifications_collection_add_member_select option").size() == 0) {
                $("#email_notifications_collection_add_member").hide();
            }

            // Replace '__name__' in the prototype's HTML to instead be a number based on how many items we have. Then
            // also replace id, name and firstname of the selected member.
            var newForm = prototype.replace(/__name__/g, index);
            var newForm = newForm.replace(/__member_name__/g, memberMemberName);
            var newForm = newForm.replace(/__member_firstname__/g, memberFirstName);
            var newForm = newForm.replace(/__member_id__/g, memberId);

            // increase the index with one for the next item
            $notification_table.data('index', index + 1);

            console.debug(newForm);
            $(this).closest('tr').before(newForm);
        });
    });

</script>