{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<h6 class="card-header text-dark">{% trans %}Entry list{% endtrans %}</h6>
<div class="card-body">
    {% if members %}
        {% trans with {'count': members|length} %}Selected numberOfMembers member entries{% endtrans %}
    <br/>
        {% set action="administration_export_to_excel_download" %}
        {{ form_start(file_selection_form, {'attr': {'id': 'hidden_selection_form'}, 'action': path(action)}) }}
        <div class="hidden">
            {{ form_row(file_selection_form) }}
        </div>
        <button>{% trans %}Download{% endtrans %}</button>
        {{ form_end(file_selection_form) }}
    {% else %}
        {% trans %}No member entries found{% endtrans %}
    {% endif %}
</div><!--  class=card-body -->
