{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<h6 class="card-header text-dark">{% trans %}Import result{% endtrans %}</h6>
    <div class="card-body">
    {% if importError %}
        <p>{% trans %}Error while importing file{% endtrans %}: {{ logMessage }}</p>
    {% elseif resultNumbers|length > 0 %}
        {# There seems to be a bug in the ICU component: it is not possible to use the pluralisation variable also as placeholder, so we pass the same value twice here #}
        <p>{% trans with {'count': resultNumbers.memberEntries} %}import result first line{% endtrans %}:</p>
        <ul>
            <li>{{ resultNumbers.companyInformation }} {% trans with {'count': resultNumbers.companyInformation} %}company information fields{% endtrans %}</li>
            <li>{{ resultNumbers.phoneNumbers }} {% trans with {'count': resultNumbers.phoneNumbers} %}phone number fields{% endtrans %}</li>
            <li>{{ resultNumbers.addresses }} {% trans with {'count': resultNumbers.addresses} %}address fields{% endtrans %}</li>
            <li>{{ resultNumbers.committeeFunctions }} {% trans with {'count': resultNumbers.committeeFunctions} %}committee function fields{% endtrans %}</li>
            <li>{{ resultNumbers.groupMembers }} {% trans with {'count': resultNumbers.groupMembers} %}group members{% endtrans %}</li>
        </ul>
        <p>{% trans %}The following values have been found{% endtrans %}:</p>
        <ul>
            {% for key, value in resultValues %}
                <li>{{ value.usedValues|length }} {{ key|lower|trans }} {% trans %}values{% endtrans %}
                    {%- if value.newValues|length %} {% trans with {'count': value.newValues|length} %}including the new values{% endtrans %}
                        {%- for newValue in value.newValues %} "{{ newValue }}"{%- endfor -%}
                    {%- else %} {% trans %}without new values{% endtrans %}
                    {%- endif -%}
                </li>
            {% endfor %}
        </ul>
        <form id="import-form" action="{{ path('administration_import_from_excel_import', {'hashName': hashName, 'originalFileName': originalFileName }) }}">
            <p><button type="submit" class="btn btn-outline-secondary" id="process_excel_import">{% trans %}Import data{% endtrans %}</button></p>
        </form>
    {% endif %}
</div><!--  class=card-body -->

{% if resultNumbers|length > 0 %}
<script>
    $(function(){
        $('#import-form').submit(function(e){
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                processData: false,
                contentType: false,
                type: 'POST',
                url: '{{ path('administration_import_from_excel_import', {'hashName': hashName, 'originalFileName': originalFileName }) }}',
                data: formData
            })
                .done(function(data){

                    // show the response
                    $('#result').html(data);

                })
                .fail(function() {

                    // just in case posting your form failed
                    alert( "Posting failed." );

                });
        });
    });
</script>
{% endif %}