{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<h6 class="card-header text-dark">{% trans %}Import result{% endtrans %}</h6>
    <div class="card-body">
    {% if importError %}
        <p>{% trans %}Error while importing file{% endtrans %}: {{ logMessage }}</p>
    {% elseif resultNumbers|length > 0 %}
        <p>{% trans with {'count': resultNumbers.memberEntries} %}Imported numberOfEntries member entries{% endtrans %}.</p>
    {% endif %}
</div><!--  class=panel-body -->
