{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage'} %}

{% block body %}
{{ parent() }}

{% macro writeEntry(route, icon, text, role) %}
        {%- if is_granted(role) -%}
            <li class="dashboard"><a class="dashboard" href="{{ path(route) }}"><i class="fa {{ icon }} fa-3x"></i><br/>{{ text | trans }}</a></li>
        {%- endif -%}
{% endmacro %}

{# TODO: this macro has to be deleted when all features are implemented #}
{% macro writeEntryDisabled(route, icon, text, role) %}
    {%- if is_granted(role) -%}
        <li class="dashboard"><span class="dashboard"><i class="{{ icon }} fa-3x"></i><br/>{{ text | trans }}</span></li>
    {%- endif -%}
{% endmacro %}

{% import _self as self %}

<div class="container">
    <div class="card mt-2 mb-4">
        <h6 class="card-header">{% trans %}Member and club settings{% endtrans %}</h6>
        <div class="card-body">
            <ul class="dashboard">
                {{ self.writeEntry("administration_manage_lists", "fas fa-list", "Manage list values", "ROLE_MANAGE_LIST_VALUES") }}
                {{ self.writeEntry("administration_manage_committees", "fas fa-link", "Manage committees", "ROLE_MANAGE_COMMITTEES") }}
                {{ self.writeEntry("administration_manage_mailing_lists", "fas fa-mail-bulk", "Manage mailing lists", "ROLE_MANAGE_MAILINGLISTS") }}
                {{ self.writeEntry("administration_manage_membership_types", "fa-file", "Manage membership types", "ROLE_MANAGE_MEMBERSHIP_TYPES") }}
            </ul>
        </div><!--  class=panel-body -->
    </div><!-- panel panel-default -->

    {% if (is_granted("ROLE_MANAGE_SERIAL_LETTER_TEMPLATES") or is_granted("ROLE_MANAGE_EMAIL_NOTIFICATIONS") or is_granted("ROLE_MANAGE_EMAIL_TEMPLATES") or is_granted("ROLE_MANAGE_EMAIL_SENDER_ADDRESSES")) %}
        <div class="card mt-2 mb-4">
            <h6 class="card-header">{% trans %}Email and serial letter settings{% endtrans %}</h6>
            <div class="card-body">
                <ul class="dashboard">
                    {{ self.writeEntry("administration_manage_serial_letter_templates","far fa-envelope", "Manage serial letter templates", "ROLE_MANAGE_SERIAL_LETTER_TEMPLATES") }}
                    {{ self.writeEntry("administration_manage_email_templates","far fa-file-image", "Manage email templates", "ROLE_MANAGE_EMAIL_TEMPLATES") }}
                    {{ self.writeEntry("administration_manage_email_notifications", "fas fa-envelope-square", "Manage email notifications", "ROLE_MANAGE_EMAIL_NOTIFICATIONS") }}
                </ul>
            </div><!--  class=panel-body -->
        </div><!-- panel panel-default -->
    {% endif %}

    <div class="card mt-2 mb-4">
        <h6 class="card-header">{% trans %}Data handling{% endtrans %}</h6>
        <div class="card-body">
            <ul class="dashboard">
                {{ self.writeEntry("administration_import_from_excel", "far fa-file", "Import from Excel", "ROLE_IMPORT_EXCEL") }}
                {{ self.writeEntryDisabled("","fas fa-exchange-alt", "System backup", "ROLE_MANAGE_SYSTEM_BACKUP") }}
                {{ self.writeEntryDisabled("","far fa-bookmark", "Snapshot diffs", "ROLE_MANAGE_SNAPSHOT_DIFFS") }}
                {{ self.writeEntry("administration_export_to_excel", "far fa-file-excel", "Export to Excel", "ROLE_EXPORT_EXCEL") }}
                {{ self.writeEntryDisabled("","far fa-file-pdf", "Export to PDF", "ROLE_EXPORT_PDF") }}
                {{ self.writeEntry("administration_delete_users", "fas fa-user-minus", "Delete users", "ROLE_DELETE_MEMBERS") }}

            </ul>
        </div><!--  class=panel-body -->
    </div><!-- panel panel-default -->

{% if (is_granted("ROLE_MANAGE_USER_ROLES") or is_granted("ROLE_MANAGE_USER_RIGHTS") or is_granted("ROLE_MANAGE_PASSWORDS")) %}
    <div class="card mt-2 mb-4">
        <h6 class="card-header">{% trans %}System settings{% endtrans %}</h6>
        <div class="card-body">
            <ul class="dashboard">
                {{ self.writeEntry("administration_manage_user_roles", "fas fa-user", "Manage user roles", "ROLE_MANAGE_USER_ROLES") }}
                {{ self.writeEntry("administration_manage_user_rights", "fas fa-users", "Manage user rights", "ROLE_MANAGE_USER_RIGHTS") }}
                {{ self.writeEntry("administration_manage_passwords", "fas fa-key", "Manage passwords", "ROLE_MANAGE_PASSWORDS") }}
            </ul>
        </div><!--  class=panel-body -->
    </div><!-- panel panel-default -->
{% endif %}
</div>

{% endblock %}
