{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage mailing lists' : 'administration_manage_mailing_lists'} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2" id="mailing_list_content">
{% include 'Admin/mailing_list_content.html.twig' %}
    </div><!--  class=card -->
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark"><div class="row"><div class="col-sm-1">{% trans %}Subscribers{% endtrans %} &nbsp;</div>
            {{ form(subscriberSelectForm, {'attr': {'class': 'col-sm-6'}, 'action': path('administration_manage_mailing_lists_subscribers')}) }}</h6>
        <div class="card-body" id="mailing_list_subscribers">
        </div><!--  class=card-body -->

    </div><!-- panel panel-default -->
</div><!-- container-fluid -->

{% endblock %}{# body #}

{%  block javascripts %}
    {{ parent() }}

<script>
    function doAjax(Url, Type, Data, ReturnLocation)
    {
        $.ajax({
            type: Type,
            url: Url,
            data: Data
        })
            .done(function(data){
                // show the response
                $(ReturnLocation).html(data);
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });

        // to prevent refreshing the whole page page
        return false;
    }

    $(function(){
        $('#mailing_list_subscriber_mailinglist').on('change', function(e){
            var mailinglist = $(this).serialize();
            doAjax('{{ path('administration_manage_mailing_lists_subscribers')  }}', 'POST', mailinglist, '#mailing_list_subscribers');
        });
    });

</script>
 {% endblock %}{#javascript#}