{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="card-body">
        {% if mailingList %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ mailingList.listName }} ({{ mailingList.memberEntries | length }} {% trans %}subscribers{% endtrans %})</th>
            </tr>
            </thead>
            <tbody>
              {% for subscriber in mailingList.memberEntries %}
                  <tr><td>{{ subscriber.email }}</td></tr>
              {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div><!--  class=panel-body -->
