{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{% macro writeMailingListRowForm(formRow) %}
    {% import _self as self %}
    <tr class="js-mailing-list-item">
        <td><a href="#" class="btn btn-link btn-xs pull-left js-remove-mailing-list"><span class="far fa-trash-alt"></span></a></td>
        <td>{{ form_row(formRow.listName) }}</td>
        <td>{{ form_row(formRow.managementEmail) }}</td>
        <td>{{ form_row(formRow.managementPassword) }}</td>
    </tr>
{% endmacro %}

    <h6 class="card-header text-dark">
    {% trans %}Mailing lists{% endtrans %} (type: {{ mailinglist_updater.mailingListType }}) &nbsp;
            {%- if edit == false -%}
                <a href="#" id="edit_mailing_lists"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
            {%- endif -%}
        </h6>
        <div class="card-body">
        {%  if edit %}{{ form_start(form.members) }}{% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                {% for fieldName in mailinglist_updater.fieldNames(edit) %}
                <th>{{ fieldName | trans }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="js-mailing-list-table"
                   data-prototype="{{ self.writeMailingListRowForm(form.members.vars.prototype, edit)|e('html_attr') }}"
                   data-index="{{ form.members | length }}">
            {% for formRow in form.members %}
                {% if edit %}
                {{ self.writeMailingListRowForm(formRow) }}
                {% else %}
                    <tr><td></td>
                    {% for field in mailinglist_updater.textFields(formRow.vars.value) %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    </tr>
                {#{{ self.writeMailingListText(formRow) }}#}
                {% endif %}
            {% endfor %}
            {% if edit %}
                <tr><td colspan="4"><a href="#" class="js-mailing-list-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another mailing list{% endtrans %}</a></td></tr>
            {% endif %}
            </tbody>
        </table>
        {%- if edit -%}
            <button type="submit" class="btn btn-outline-secondary" id="save_mailing_list_data">{% trans %}Save{% endtrans %}</button>
            <button type="reset" class="btn btn-outline-secondary" id="reset_mailing_list_data">{% trans %}Cancel{% endtrans %}</button>
            {{ form_end(form) }}
        {% endif %}
    </div><!--  class=panel-body -->

<script>
    $(function(){
        $('#edit_mailing_lists').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_mailing_lists_edit')  }}', 'GET', '', '#mailing_list_content', false));
        });

    });

    $(function(){
        $('#reset_mailing_list_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_mailing_lists', {'showOnlyContentTable': true})  }}', 'GET', '', '#mailing_list_content', false));
        });
    });

    $(function(){
        $('#save_mailing_list_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_mailing_lists_edit') }}', 'POST', form_data, '#mailing_list_content', true));
        });
    });

    $(document).ready(function() {
        var $mailing_table = $('.js-mailing-list-table');

        // This is called when one of the remove symbols in front of the mailing list rows is clicked. The row then
        // disappears
        $mailing_table.on('click', '.js-remove-mailing-list', function(e) {
            e.preventDefault();
            // Replace delete symbol by a spinner
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            // $item is the <tr> before the delete symbol
            var $item = $(this).closest('.js-mailing-list-item');
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });

        // This function is called when the mailing list add button is clicked. It generates an additional mailing list
        // form row.
        $mailing_table.on('click', '.js-mailing-list-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $mailing_table.data('prototype');

            // get the new index$block
            var index = $mailing_table.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $mailing_table.data('index', index + 1);

            $(this).closest('tr').before(newForm);
        });
    });

</script>