{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage membership types' : 'administration_manage_membership_types'} %}

{% block body %}

{{ parent() }}
<div class="container-fluid">
    <div class="card mt-3 mb-2" id="membership_type_content">
        {% include 'Admin/membership_type_content.html.twig' %}
    </div><!-- class=card -->
</div><!-- class=container-fluid -->

{% endblock %}{# body #}

    {%  block javascripts %}
    {{ parent() }}

<script>
    function doAjax(Url, Type, Data, ReturnLocation, ReloadLogs)
    {
        $.ajax({
            type: Type,
            url: Url,
            data: Data
        })
            .done(function(data){
                // show the response
                $(ReturnLocation).html(data);
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });

        // to prevent refreshing the whole page page
        return false;
    }

</script>
 {% endblock %}{#javascript#}