{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import _self as self %}

{# When the edit variable is true, then show input fields, otherwise only text #}
{% macro writeCell(formField, edit) %}
    {%- if edit -%}
        {{ form_row(formField) }}
    {%- else -%}
        {%- set widget_type = formField.vars.block_prefixes.1 -%}
        {%- if ('checkbox' == widget_type) -%}
            {%- if formField.vars.checked -%}<span class="fas fa-check"></span>{%- endif -%}
        {% elseif ('money' == widget_type)%}
            {{ formField.vars.value }} €
        {%- else -%}
            {{ formField.vars.value }}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{%- macro writeMembershipTypeRow(formRow, edit, rowCounter) -%}
    {%- import _self as self -%}
    <tr class="js-membership-type-item" id="membershipType_{{ rowCounter }}">
        <td style="text-align: center">{%- if formRow.vars.value is not null and formRow.vars.value.isInUse() -%}
                <span class="fas fa-lock"></span>
            {%- elseif edit -%}
                <a href="#" class="btn btn-link btn-xs pull-left js-remove-membership-type"><span class="far fa-trash-alt"></span></a>
            {%- endif -%}
        {% for field in formRow.children -%}
            <td>{{- self.writeCell(field, edit) -}}</td>
        {% endfor -%}
    </tr>
{% endmacro %}

    <h6 class="card-header text-dark">{% trans %}Membership types{% endtrans %} &nbsp;
        {%- if edit == false -%}
            <a href="#" id="edit_membership_types"><span class="far fa-edit text-dark" aria-hidden="true"></span></a>
        {%- endif -%}
    </h6>
    <div class="card-body">
        {#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
        {%  if edit %}{{ form_start(form.members, {'attr': {'novalidate': 'novalidate'}}) }}{% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                {% for locale in locales %}
                    <th>{% trans %}membership type{% endtrans %} ({{ locale }})</th>
                {% endfor %}
                <th>{% trans %}Membership fee{% endtrans %}</th>
                <th>{% trans %}Group membership{% endtrans %}</th>
                <th>{% trans %}Default for member groups{% endtrans %}</th>
                <th>{% trans %}Default for new members{% endtrans %}</th>
            </tr>
            </thead>
            <tbody class="js-membership-type-table" {% if edit -%}
                   data-prototype="{{ self.writeMembershipTypeRow(form.members.vars.prototype, edit, 100000)|e('html_attr') }}"
                   data-index="{{ form.members | length }}" {% endif %}>
            {% for formRow in form.members %}
                {{ self.writeMembershipTypeRow(formRow, edit, loop.index0) }}
            {% endfor %}
            {% if edit %}
                <tr><td colspan="{{ 5 + locales | length }}"><a href="#" class="js-membership-type-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another membership type{% endtrans %}</a></td></tr>
            {% endif %}
            </tbody>
        </table>
        {%- if edit -%}
            <button type="submit" class="btn btn-outline-secondary" id="save_membership_type_data">{% trans %}Save{% endtrans %}</button>
            <button type="reset" class="btn btn-outline-secondary" id="reset_membership_type_data">{% trans %}Cancel{% endtrans %}</button>
            {{ form_end(form) }}
        {% endif %}
    </div><!--  class=panel-body -->

<script>
    $(function(){
        $('#edit_membership_types').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_membership_types_edit')  }}', 'GET', '', '#membership_type_content', false));
        });

    });

    $(function(){
        $('#reset_membership_type_data').on('click', function(e){
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_membership_types', {'showOnlyContentTable': true})  }}', 'GET', '', '#membership_type_content', false));
        });
    });

    $(function(){
        $('#save_membership_type_data').on('click', function(e){
            var form_data = $(this).closest("form").serialize();
            e.preventDefault();
            return (doAjax('{{ path('administration_manage_membership_types_edit') }}', 'POST', form_data, '#membership_type_content', true));
        });
    });

    $(document).ready(function() {
        var $types_table = $('.js-membership-type-table');

        // This is called when one of the remove symbols in front of the mailing list rows is clicked. The row then
        // disappears
        $types_table.on('click', '.js-remove-membership-type', function(e) {
            e.preventDefault();
            // Replace delete symbol by a spinner
            $(this).find('.fa-trash-alt')
                .removeClass('fa-trash-alt')
                .removeClass('far')
                .addClass('fas')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            // $item is the <tr> before the delete symbol
            var $item = $(this).closest('.js-membership-type-item');
            $item.fadeOut(300,function () {
                $(this).remove();
            });
        });

        // This function is called when the mailing list add button is clicked. It generates an additional mailing list
        // form row.
        $types_table.on('click', '.js-membership-type-add', function(e) {
            e.preventDefault();
            // Get the data-prototype explained earlier
            var prototype = $types_table.data('prototype');

            // get the new index$block
            var index = $types_table.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $types_table.data('index', index + 1);

            $(this).closest('tr').before(newForm);
        });

        $types_table.on('change', 'input.toggle1', function() {
            $types_table
                .find('input.toggle1')
                .not(this)
                .removeAttr('checked');
        });
        $types_table.on('change', 'input.toggle2', function() {
            $types_table
                .find('input.toggle2')
                .not(this)
                .removeAttr('checked');
        });
    });

</script>