{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- macro translate(text, user, parameters) -%}
    {{ text| trans(parameters, "messages", user.preferredLanguage.locale)|raw }}
{%- endmacro -%}

{% import _self as self %}

<p>{% if user.gender == 'f' %}{{ self.translate("Dear Ms", user, {}) }}{% else %}{{ self.translate("Dear Mr", user, {}) }}{% endif %} {{ user.completeName }},</p>
<p>{{ self.translate("Your login credentials for site %siteName% have been changed", user, {'siteName': siteName}) }}</p>
<table>
    <tr><td>{{ self.translate("User name", user, {}) }}:</td><td>{{ user.username }}</td></tr>
    <tr><td>{{ self.translate("Password", user, {}) }}:</td><td>{{ user.plainPassword }}</td></tr>
</table>
<p>{{ self.translate("credentialEmail", user, {}) }}</p>
<p>{{ self.translate("Best regards", user, {}) }}</p>
<p>{{ self.translate("Your system administrator", user, {}) }}</p>
