{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage serial letter templates' : 'administration_manage_serial_letter_templates'} %}

{% block body %}
{{ parent() }}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="card mt-2 mb-4">
        <h6 class="card-header">{% trans %}Serial letter templates{% endtrans %}</h6>
        <div class="card-body">
            <div class="row js-template-list">
                {% for language in languages %}
                    {% if templates[language.locale] is defined %}
                    <div class="col">
                        <h6 class="text-dark">{{ language.language }}</h6>
                        {% for template in templates[language.locale] %}
                            <div class="js-template-item">
                                <a href="{{ path('administration_manage_serial_letter_templates_delete', {'id': template.id}) }}" class="btn btn-link btn-xs js-remove-template"><span class="far fa-trash-alt"></span></a>
                                <a href="{{ path('administration_manage_serial_letter_templates_edit', {'id': template.id}) }}" class="btn btn-link btn-xs js-edit-template"><span class="far fa-edit"></span></a>
                                {{ template.templateName }}</br></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {%  endfor %}
            </div><!-- class=row js-template-list -->
            <div class="row">
                <div class="col">
                    <a href="{{ path('administration_manage_serial_letter_templates_edit') }}" class="js-template-add"><span class="fas fa-plus-circle"></span> {% trans %}Add another template{% endtrans %}</a>
                </div><!-- class=col -->
            </div><!-- class=row -->
        </div><!--  class=panel-body -->
    </div><!-- class=card -->
    <div id="serial_letter_content">
    </div>
</div><!-- class=container -->


<script>
    let template_list = $('.js-template-list');

    // This is called when one of the remove symbols in front of the mailing list rows is clicked. The row then
    // disappears
    template_list.on('click', '.js-remove-template', function(e) {
        e.preventDefault();
        // Replace delete symbol by a spinner
        $(this).find('.fa-trash-alt')
            .removeClass('fa-trash-alt')
            .removeClass('far')
            .addClass('fas')
            .addClass('fa-spinner')
            .addClass('fa-spin');

        let $item = $(this).closest('.js-template-item');
        let url = $(this).attr('href');
        $.ajax({url: url})
            .done(function(){
                // Removed the clicked item after the call to the delete method of the controller.
                $item.fadeOut(300,function () {
                    $(this).remove();
                });
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });
    });

    template_list.on('click', '.js-edit-template', function(e) {
        e.preventDefault();

        let url = $(this).attr('href');
        $.ajax({url: url})
            .done(function(data){
                // Remove all editors bound to textareas
                tinymce.remove('textarea');
                $('#serial_letter_content').html(data);
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });
    });


    $('.js-template-add').click(function(e) {
        e.preventDefault();

        let url = $(this).attr('href');
        $.ajax({url: url})
            .done(function(data){
                // Remove all editors bound to textareas
                tinymce.remove('textarea');
                $('#serial_letter_content').html(data);
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });
    });
</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
{% endblock %}