{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="card mt-2 mb-4">
    <h6 class="card-header">{% trans %}Content{% endtrans %} ("{{ templateName }}")</h6>
    <div class="card-body">
        {{ form_start(form, {'action': path('administration_manage_serial_letter_templates_edit', {'id': form.vars.value.id}), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-2 text-right">
                {{ form_label(form.templateName) }}
            </div>
            <div class="col-md-10 text-center">
                {{ form_widget(form.templateName) }}
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-md-2 text-right">
                {{ form_label(form.language) }}
            </div>
            <div class="col-md-10 text-center">
                {{ form_widget(form.language) }}
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-md-2 text-right">
                {{ form_label(form.templateContent) }}
            </div>
            <div class="col-md-10 text-center">
                {{ form_widget(form.templateContent) }}
            </div>
        </div> <!-- row -->
        <button type="submit" class="btn btn-outline-secondary" id="save_template_data">{% trans %}Save{% endtrans %}</button>
        <button type="reset" class="btn btn-outline-secondary" id="reset_template_data">{% trans %}Cancel{% endtrans %}</button>
        {# This is used to show a spinner after clicking save #}
        <span id="js-confirm-save"></span>
        {{ form_end(form) }}
    </div><!--  class=card-body -->
</div><!-- card mt-2 mb-4 -->

<script>
    tinymce.init({
        selector: 'textarea',
        // This is needed to update the content of the textarea on each change, so the ajax call loads the changed
        // content.
        setup: function (editor) {
            editor.on('change', function () {
                tinymce.triggerSave();
            })},
        height : 350,
        // toolbar: 'undo redo cut copy paste styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
        toolbar: " insertfile undo redo | bold italic subscript superscript | alignleft aligncenter alignright | bullist numlist | table | code pagebreak | jbimages image link",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste pagebreak noneditable"
        ],
        advlist_bullet_styles: "",
        advlist_number_styles: "",
        table_appearance_options: false,
        table_advtab: false,
        table_cell_advtab: false,
        table_row_advtab: false,
        table_responsive_width: false,
        menubar: false,
        paste_as_text: true,
        pagebreak_separator: "<!--newpage-->",
    });

    $('#serial_letter_content').on('click', '#save_template_data', function(e){
        e.preventDefault();
        $('#js-confirm-save')
            .addClass('fas fa-spinner')
            .addClass('fa-spin');
        var $form = $(this).closest('form');
        var $data = $form.serialize();

        // Submit data via AJAX to the form's action path.
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: $data,
        })
            .done(function (data) {
                if ('OK' == data) {
                    location.reload();
                } else {
                    // This is needed to be able to init the editor again.
                    tinymce.remove('textarea');
                    // Since the javascript code is also replaced, we have to unbind the current on click, so only the
                    // new one is called on the next click (if not, the calls would multiply, so the event handler is
                    //  called 2x, 4x, 8, 16x and so on!)
                    $('#serial_letter_content').unbind('click');
                    $('#serial_letter_content').html(data);
                }
            })
            .fail(function() {
                // just in case posting your form failed
                alert( "Posting failed." );
            });
    });

    $('#serial_letter_content').on('click', '#reset_template_data', function(e){
        e.preventDefault();
        location.reload();
    });
</script>
