{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'Administration' : 'administration_homepage', 'Manage user roles' : 'administration_manage_user_roles'} %}

{% block body %}

{{ parent() }}

<div class="container" id="user-role-table">
    <table style="width: auto; margin-left: auto; margin-right: auto;" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% trans %}Role{% endtrans %}</th>
            {% for userRole in userRoles %}
                <th>{{ userRole|replace({' ': '&nbsp;'})|raw }}</th> {# Replace spaces by non breaking spaces #}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for role in allRoles %}
            <tr>
                <td>{{ role | trans }}</td>
                {%- for userRole in userRoles -%}
                    <td style="text-align: center">{% if role in userRole.systemRoles %}<span class="fas fa-check"></span></td>{% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}{# body #}
