{#
Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

This file is part of Vereniging.

Vereniging is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vereniging is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<h6 class="card-header text-dark">{% trans %}Entry list{% endtrans %}</h6>
<div class="card-body">
    {% if memberForms %}
        <table class="table table-striped">
            <tr><th>{% trans %}Last name{% endtrans %}</th><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}Email{% endtrans %}</th><th>{% trans %}User role{% endtrans %}</th><th></th></tr>
            {% for memberForm in memberForms %}
                <tr valign="top" id="member_id_{{ memberForm.vars.value.id }}">
                    <td>{{ memberForm.vars.value.Name }}</td>
                    <td>{{ memberForm.vars.value.firstName }}</td>
                    <td>{{ memberForm.vars.value.Email }}</td>
                    <td>{{ form_start(memberForm, {'attr': {'id': 'member_form_' ~ memberForm.vars.value.id, 'class': 'js-memberform-item'}, 'action': path('administration_manage_user_rights_update')}) }}
                        {{ form_widget(memberForm) }} {{ form_end(memberForm) }}</td><td width="50px">
                        {# The following will add a span, which is used to display a spinner and check symbol later on by the ajax call.
                           Because loading the spinner is slow the first time, it is loaded here and set to invisible. This is done in
                           a second span, which is overwritten by the ajax done. #}
                        <span class="js-ok-symbol"><span  class="fas fa-spinner" style="opacity: 0"></span></span></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% trans %}No member entries found{% endtrans %}
    {% endif %}
</div><!--  class=card-body -->
