{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% block form_row %}

    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>  <!-- class="form-group" -->
{% endblock form_row %}


{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <div class="col-sm-6"><input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control input-sm"/></div><!--class="col-sm-5" -->
{%- endblock form_widget_simple %}


{% block form_label -%}
     {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
       {%- endif -%}
        {%- if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-sm-2 control-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label %}

{% block choice_widget_expanded -%}
    {% set attr = attr|merge({'class': multiple==true ? 'checkbox' : 'radio'}) %}
    <div class="col-sm-5">
    {%- for child in form %}
    <div {{ block('widget_container_attributes') }}>
    <label>
    {{- form_widget(child) -}}
        {{ label|trans({}, translation_domain) }}
        {{- child.vars.label|trans({}, translation_domain) -}}
    </label>
    </div>
    {% endfor -%}
    </div><!--class="col-sm-5" -->
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {% set select_names = full_name | split('[') %}
    {% if select_names[2] is defined and (select_names[2] == 'day]' or select_names[2] == 'month]' or select_names[2] == 'year]') %}
        <div class=" col-xs-4 col-sm-2">
    {% else %}
        <div class=" col-sm-6">
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    </div>
{%- endblock choice_widget_collapsed %}

{% block checkbox_widget -%}
    <div class=" col-sm-5">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock checkbox_widget %}


{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- '{{ day }} {{ month }} {{ year }}'|replace({
                '{{ day }}':  form_widget(form.day),
                '{{ month }}': form_widget(form.month),
                '{{ year }}':  form_widget(form.year),
                })|raw -}}
        </div>
    {%- endif %}
{%- endblock date_widget %}

