{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "base.html.twig" %}

{% if dashboard_subpage is not defined %}
    {% set dashboard_subpage = [] %}
{% endif %}

{% block title %}
    {{ site_name[app.request.locale] }} {% trans %}dashboard{% endtrans %}
    {% if dashboard_subpage is defined %}
        {% for subpage in dashboard_subpage | keys %}
            - {{ subpage | trans }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% from 'dashboard_title_macro.html.twig' import generate_dashboard_title as generate_dashboard_title %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if app.user %}
            <a class="navbar-brand" href="{{ path('dashboard_homepage') }}">{{ site_name[app.request.locale] }} {% trans %}dashboard{% endtrans %}</a>
            {% else %}
                <a class="navbar-brand" href="{{ path('security_login') }}">{% trans %}Back to login page{% endtrans %}</a>
            {% endif %}
            <div class="navbar-nav mx-auto">
                {{ generate_dashboard_title(dashboard_subpage) }}
            </div>
            <div class="navbar-nav ml-auto">
          {% if is_granted('ROLE_MEMBER_ADMINISTRATOR') %}
            <a href="{{ path('administration_homepage') }}" class="nav-item nav-link">{% trans %}Administration{% endtrans %}</a>
          {% endif %}
        </div>
        </div>
    </nav>

    <footer class="footer">
      <div class="container">
          {% if is_granted('ROLE_VIEW_DASHBOARD') %}
            <p class="text-muted text-center">
                <a href="{{ path('dashboard_about') }}">{% trans %}About this software{% endtrans %}</a>
                &nbsp;&nbsp;<i class="fas fa-asterisk"></i>&nbsp;&nbsp;
                {% trans %}Version{% endtrans %} {{ source('VERSION_NUMBER') }}.{{- source('BUILDNUMBER') -}}
                &nbsp;&nbsp;<i class="fas fa-asterisk"></i>&nbsp;&nbsp;
                {% trans %}Currently logged in user{% endtrans %}: {{ app.user.userName }} ({% trans %}role{% endtrans %} {{ app.user.userRole }})
                &nbsp;&nbsp;<i class="fas fa-asterisk"></i>&nbsp;&nbsp;
                <a href="{{ path('security_logout') }}">{% trans %}Logout{% endtrans %}</a></p>
          {% endif %}
      </div>
    </footer>
    
{% endblock %}

{% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{#    <script src="{{ asset('js/popper.min.js') }}"></script>#}
{% endblock %}