{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}

{% set dashboard_subpage = {'About this software' : ''} %}

{% block body %}

{{ parent() }}

<div class="container">
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}About this software{% endtrans %}</h6>
        <div class="card-body">
            {% trans %}About text{% endtrans %}
        </div><!--  card-body -->
    </div><!-- card -->

    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Technical information{% endtrans %}</h6>
        <div class="card-body">
            {% trans %}About technical{% endtrans %}
        </div><!--  card-body -->
    </div><!-- card -->

    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Development history{% endtrans %}</h6>
        <div class="card-body">
        <p>The numbers in the following table, e.g #19, relate to the issue number in gitlab
            (<a href="https://gitlab.com/LucHamers/vereniging/-/boards" target="_blank">https://gitlab.com/LucHamers/vereniging/-/boards</a>).</p>

            {{ show_change_log() }}

        </div><!--  card-body -->
    </div><!-- card -->
</div>

{% endblock %}

