{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Club structure' : ''} %}

{% block body %}

{{ parent() }}

<div class="container">
    {% for committeeName, functions in committees %}
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{{ committeeName }}</h6>
        <div class="card-body">
            <table class="table">
            {% for function, members in functions %}
                <tr><td>{{ function }}</td><td>
                    {% for memberName, username in members %}
                        {% if is_granted('ROLE_EDIT_OTHER_USERS') %}
                            <a href="{{ path('member_data', {'userName': username}) }}">{{ memberName }}</a><br>
                        {% else %}
                            {{ memberName }}<br>
                        {% endif %}
                    {% endfor %}
                    </td></tr>
            {% endfor %}
            </table>
        </div><!--  class=panel-body -->
    </div><!-- panel panel-default -->
    {% endfor %}
</div>
{% endblock %}

