{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% block title %} Edit serial letter {% endblock %}
{% set dashboard_subpage = {'Select serial letter' : 'select_serial_letter', 'Edit serial letter' : ''} %}

{% block body %} 

{{ parent() }}
<div class="container-fluid">
    <div class="card mt-3 mb-2">
        <div class="card-body">
            {{ form_start(form, {'attr': {'id': 'serial_letter_form'}}) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-2">
                </div>
            {% for content in form.serialLetterContents %}
                <div class="col-md-5 text-center">
                    <h6>{{ content.vars.data.language.language }}</h6>
                </div>
            {% endfor %}
            </div> <!-- row -->
            <div class="row">
                <div class="col-md-2 text-right">
                    {{ form_label(form.serialLetterContents[0].letterTitle) }}
                </div>
                {% for content in form.serialLetterContents %}
                    <div class="col-md-5 text-center">
                        {{ form_errors(content.letterTitle) }}
                        {{ form_widget(content.letterTitle, { 'attr': {'class': 'autosave'} }) }}
                    </div>
                {% endfor %}
            </div> <!-- row -->
            <br />
            <div class="row">
                <div class="col-md-2 text-right">
                    {{ form_label(form.serialLetterContents[0].content) }}
                </div>
                {% for content in form.serialLetterContents %}
                    <div class="col-md-5 text-center">
                        {{ form_errors(content.content) }}
                        {{ form_widget(content.content, { 'attr': {'class': 'autosave ' ~ content.vars.data.language.locale } }) }}
                    </div>
                {% endfor %}
            </div> <!-- row -->
            <br />
            <div class="row">
                <div class="col-md-2 text-right">
                    {{ form_label(form.firstSignatureMember) }}
                </div>
                <div class="col-md-3 text-center">
                    {{ form_errors(form.firstSignatureMember) }}
                    {{ form_widget(form.firstSignatureMember, { 'attr': {'class': 'autosave'} }) }}
                </div>
                <div class="col-md-3 text-center">
                    {{ form_errors(form.secondSignatureMember) }}
                    {{ form_widget(form.secondSignatureMember, { 'attr': {'class': 'autosave'} }) }}
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-md-2 text-right">
                    {{ form_label(form.firstSignatureMembersFunction) }}
                </div>
                <div class="col-md-3 text-center">
                    {{ form_errors(form.firstSignatureMembersFunction) }}
                    {{ form_widget(form.firstSignatureMembersFunction, { 'attr': {'class': 'autosave'} }) }}
                </div>
                <div class="col-md-3 text-center">
                    {{ form_errors(form.secondSignatureMembersFunction) }}
                    {{ form_widget(form.secondSignatureMembersFunction, { 'attr': {'class': 'autosave'} }) }}
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-md-2 text-right">
                </div>
                <div class="col-md-6 text-center">
                    {{ form_errors(form.signatureUseTitle) }}
                    {{ form_widget(form.signatureUseTitle, { 'attr': {'class': 'autosave'} }) }}
                </div>
            </div> <!-- row -->
            <br />
            <div class="row">
                <div class="col-md-2 text-right">
                </div>
                <div class="col-md-10">
                    {% for content in form.serialLetterContents -%}
                        {%- set language = content.vars.data.language.language -%}
                        <button type="submit" class="btn btn-outline-secondary" name="preview{{ language }}">{% trans %}Generate PDF preview{% endtrans %} - {{ language }}</button>
                    {% endfor -%}
                    <div id="status" class="far fa-save fa-2x" style="color:gray;vertical-align: middle"></div>
                </div>
            </div> <!-- row -->

            {{ form_end(form) }}
        </div> <!-- panel-body -->
    </div> <!-- panel -->
</div>  <!-- container -->

<script>
    /*
     * Hide and clear the second signature member when the first member selection is empty
     */
    function showHideSecondMember() {
        if ($('#serial_letter_firstSignatureMember').val()) {
            $('#serial_letter_secondSignatureMember').show();
            $('#serial_letter_secondSignatureMembersFunction').show();
        } else {
            // Hide second members function and empty the options, so the options are gone when it is shown again.
            $('#serial_letter_secondSignatureMembersFunction').hide();
            $('#serial_letter_secondSignatureMembersFunction').empty();
            // Hide and clear the second members selection.
            $('#serial_letter_secondSignatureMember').hide();
            $('#serial_letter_secondSignatureMember').val('');
        }
    }

    // Initialize the visibility of the second member on startup
    $(document).ready(function(){
        showHideSecondMember();
    });

    $('#serial_letter_firstSignatureMember').change(function() {
        showHideSecondMember();
    });

    $firstMember = $('#serial_letter_firstSignatureMember');
    $firstMember.change(function() {
        var $form = $(this).closest('form');
        var $data = $form.serialize();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : $data,
            success: function(html) {
                // Replace current position field ...
                $('#serial_letter_firstSignatureMembersFunction').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#serial_letter_firstSignatureMembersFunction')
                );
                // Position field now displays the appropriate positions.
            }
        });
    });

    $secondMember = $('#serial_letter_secondSignatureMember');
    $secondMember.change(function() {
        var $form = $(this).closest('form');
        var $data = $form.serialize();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : $data,
            success: function(html) {
                // Replace current function field ...
                $('#serial_letter_secondSignatureMembersFunction').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#serial_letter_secondSignatureMembersFunction')
                );
                // Function field now displays the appropriate functions for the selected member.
            }
        });
    });

    var timeoutId;
    // This method implements the autosave function of the page. Each time one of the form elements changes, the timer
    // is started again. When there is no activity for 3s, than all content is saved via an ajax call.
    function ProlongTimer() {
        // Show the save icon in yellow (there has been a value change)
        $('#status').attr('class', 'far fa-save fa-2x').attr('style', 'color:Orange;');
        if (timeoutId) clearTimeout(timeoutId);
        // When the timeout of 750ms is reached, than do ajax call to save
        timeoutId = setTimeout(function (e) {
            // Show it is saved icon, which is faced out to a gray floppy symbol afterwards.
            $('#status').attr('class', 'fas fa-check fa-2x').attr('style', 'color:MediumSeaGreen;').fadeOut(1000, function(){
                $('#status').attr('class', 'far fa-save fa-2x').attr('style', 'color:gray;')
            });

            // Save forms content to the serial letter controller
            var $form = $('#serial_letter_form');
            var $data = $form.serialize();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : $data,
            });
        }, 3000);
    }

    // This is used for the select fields
    $('.autosave').change(function (){
        ProlongTimer();
    });

</script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script>
        {% for content in form.serialLetterContents %}
        tinymce.init({
            selector: 'textarea.{{ content.vars.data.language.locale }}',
            init_instance_callback: function (editor) {
                // Whenever there is a keyup event, check if the content changed and if so, trigger ProLongTimer, for
                // the autosave function.
                editor._lastChange = editor.getContent();
                editor.on('keyup ExecCommand', function (e) {
                    // This is needed,because the value of the textarea is not updated automatically, which would send
                    // the old value in the ajax call.
                    tinymce.triggerSave();
                    var value = editor.getContent();
                    if (value !== editor._lastChange) {
                        ProlongTimer();
                        editor._lastChange = value;
                    }
                });
            },
            height : 350,
            // toolbar: 'undo redo cut copy paste styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
            toolbar: " insertfile undo redo | bold italic subscript superscript | alignleft aligncenter alignright | bullist numlist | table | code pagebreak | jbimages image link | template-button variable-button",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste pagebreak noneditable"
            ],
            advlist_bullet_styles: "",
            advlist_number_styles: "",
            table_appearance_options: false,
            table_advtab: false,
            table_cell_advtab: false,
            table_row_advtab: false,
            table_responsive_width: false,
            menubar: false,
            paste_as_text: true,
            pagebreak_separator: "<!--newpage-->",
            setup: function (editor) {
                editor.addButton('template-button', {
                    type: 'listbox',
                    text: '{% trans %}Templates{% endtrans %}',
                    icon: false,
                    onselect: function (e) {
                        editor.insertContent(this.value());
                    },
                    values: [
                        {% for template in templates[content.vars.data.language.locale] %}
                        { text: '{{ template.templateName }}', value: '{{ template.templateContent|replace({"\n":' ', "\r":' '})|raw }}' },
                        {% endfor %}
                    ]
                });
                editor.addButton('variable-button', {
                    type: 'listbox',
                    text: '{% trans %}Variables{% endtrans %}',
                    icon: false,
                    onselect: function (e) {
                        editor.insertContent(this.value());
                    },
                    values: [
                        {# add all variables to the menu. The element is shown as a text block surrounded with a gray dotted line, the content cannot be edited -#}
                        {% for variable in variables -%}
                        {% if variable == '-' -%}
                        {text: '-'},
                        {% else -%}
                        { text: '{{ variable|trans }}', value: '<span style="border: thin dotted grey;" class="mceNonEditable" data-variable="{{ variable }}">{{ variable | trans }}</span>'},
                        {% endif -%}
                        {% endfor -%}
                    ]
                });
            }
        });
        {% endfor %}

    </script>
 {% endblock %}
