{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set any_action, serialletter_action, status_action = false, false, false %}
{%- if is_granted('ROLE_CREATE_SERIAL_LETTERS') %}
    {%- set serialletter_action = true -%}
{%- endif -%}
{%- if is_granted('ROLE_MANAGE_MEMBER_CLUB_SETTINGS') %}
    {%- set status_action = true -%}
{%- endif -%}
{% if serialletter_action or status_action %}
    {% set any_action = true %}
{% endif %}
{% set status_style, serialletter_style = 'none', 'inline' %}
{% if not (status_action and serialletter_action) %}
    {% if status_action %}
        {% set serialletter_style = 'none' %}
        {% set status_style = 'inline' %}
    {% endif %}
    {% if serialletter_action %}
        {% set serialletter_style = 'inline' %}
    {% endif %}
{% endif %}

{% macro writeTransactions(transactions, membershipNumber) %}
    {% set lineLimit = 2 %}
                    <td>
                        {%- for transaction in transactions|slice(0, lineLimit) -%}
                            {{ transaction.amount|format_currency('EUR') }}<br/>
                        {%- endfor -%}
                        <a href="{{ path('dashboard_manage_finances_edit_transactions', {'id': membershipNumber}) }}"  class="btn btn-outline-secondary btn-sm " data-toggle="tooltip" title="{% trans with {'count': transactions|length}%}Edit and view{% endtrans %}">{% trans %}Details{% endtrans %}</a>
                    </td>
                    <td>
                        {%- for transaction in transactions|slice(0, lineLimit) -%}
                            {{ transaction.createDate|format_datetime('medium', 'none') }}<br/>
                        {%- endfor -%}
                    </td>
                    <td>
                        {%- for transaction in transactions|slice(0, lineLimit) -%}
                            {{ transaction.closeDate is empty ? "-" : transaction.closeDate|format_datetime('medium', 'none') }}<br/>
                        {%- endfor -%}
                    </td>
{% endmacro %}


    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Membership list{% endtrans %} &nbsp;
        </h6>
        <div class="card-body">
            {% if members %}
        {%- if any_action -%}
        <form class="form-inline" action="{{ path('dashboard_manage_finances_actions') }}" id="action_selection">
        {%- endif -%}
            <table class="table table-striped">
            <tr>
                <th></th>
                <th>{% trans %}Membership number{% endtrans %}</th>
                <th>{% trans %}Members{% endtrans %}</th>
                <th>{% trans %}Membership type{% endtrans %}</th>
                <th>{% trans %}Membership fee{% endtrans %}</th>
                <th>{% trans %}use direct debit{% endtrans %}</th>
                <th>{% trans %}Outstanding debt{% endtrans %}</th>
                <th colspan="3">{% trans %}Transactions{% endtrans %}</th>
            </tr>
            <tr>
                <th colspan="7"></th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Opened{% endtrans %}</th>
                <th>{% trans %}Closed{% endtrans %}</th>
            </tr>
            {% for number in membershipNumbers -%}
                <tr>
                    <td>{% if any_action %}<input type="checkbox" name="membershipNumber[]" value="{{ number.membershipNumber }}" class="checkSingle"/>{% endif %}</td>
                    <td>{{ number.membershipNumber }}</td>
                    <td>{% for groupMember in number.memberEntries %}
                         <a href="{{ path('member_data', {'userName': groupMember.userName}) }}">{{ groupMember.completeName }}</a><br/>
                        {% endfor %}
                    </td>
                    <td>{{ number.memberEntries.0.membershipType }}</td>
                    <td>{{ number.memberEntries.0.membershipType.membershipFee|format_currency('EUR') }}</td>
                    <td>{{ number.useDirectDebit? 'yes'|trans:'no'|trans }}</td>
                    <td>{{ number.outstandingDebt == 0 ? "-" : number.outstandingDebt|format_currency('EUR') }}</td>
                    {% if number.membershipFeeTransactions|length -%}
                        {{ _self.writeTransactions(number.membershipFeeTransactions, number.membershipNumber) }}
                    {%- else -%}
                        <td colspan="3">-</td>
                    {% endif -%}
                </tr>
            {% endfor %}
            {% if any_action %}
                <tr><td colspan="10"><input type="checkbox" id="checkAll"> {% trans %}Check all{% endtrans %}</td></tr>
                <tr><td colspan="10"><img src="{{ asset('select_arrow.png') }}">
                {% if serialletter_action and status_action %}
                <select class="form-control mb-2 mr-sm-2" name="action_select" id="action_select">
                    <option value="serial_letter">{% trans %}Generate serial letter{% endtrans %}</option>
                    <option value="change_status">{% trans %}Change members status to{% endtrans %}</option>
                    <option value="generate_transactions">{% trans %}Generate membership fee request{% endtrans %}</option>
                    <option value="transactions_paid">{% trans %}Membership fee has been paid{% endtrans %}</option>
                    <option value="set_use_direct_debit">{% trans %}Set use direct debit{% endtrans %}</option>
                    <option value="remove_use_direct_debit">{% trans %}Remove use direct debit{% endtrans %}</option>
                </select>
                {% elseif serialletter_action %}
                    <input type="hidden" name="action_select" value="serial_letter">
                {% elseif status_action %}
                    <input type="hidden" name="action_select" value="change_status">
                {% endif %}
                <select class="form-control mb-2 mr-sm-2" name="letter_select" id="letter_select"  style="display: {{ serialletter_style }}">
                {% for letter in serialLetters -%}
                    {% set title = letter.title(app.request.locale) %}
                    <option value="{{ letter.id }}">{{ title |length > 100 ? title|slice(0, 100) ~ '…' : title }}</option>
                {% endfor -%}
                </select>
                <select class="form-control mb-2 mr-sm-2" name="status_select" id="status_select" style="display: {{ status_style }}">
                    {% for status in statuses -%}
                        <option value="{{ status.id }}">{{ status }}</option>
                    {% endfor -%}
                </select>
                    <button type="submit" class="btn btn-outline-secondary">{% trans %}Excecute{% endtrans %}</button>
                    {# The following will add a span, which is used to display a spinner and check symbol later on by
                       the ajax call. Because loading the spinner is slow the first time, it is loaded here and set to
                        invisible. This is done in a second span, which is overwritten by the ajax done. #}
                    <span id="js-ok-symbol"><span  class="fas fa-spinner" style="opacity: 0"></span></span></td>
                </tr>
            {% endif %}
        </table>
        {%- if any_action -%}
        </form>
        {% endif %}
    {% else %}
        {% trans %}No member entries found{% endtrans %}
    {% endif %}
    </div><!--  class=card-body -->
    </div><!-- class=card mt-3 mb-2 -->
<script>
    $(document).ready(function() {
        // When the check all checkbox is checked, then all checkboxes are checked.
        $("#checkAll").change(function() {
            if (this.checked) {
                $(".checkSingle").each(function() {
                    this.checked=true;
                });
            } else {
                $(".checkSingle").each(function() {
                    this.checked=false;
                });
            }
        });

        // When a single checkbox is cleared while before all checkboxes were checked, then clear the check all checkbox
        $(".checkSingle").click(function () {
            if ($(this).is(":checked")) {
                var isAllChecked = 0;

                $(".checkSingle").each(function() {
                    if (!this.checked)
                        isAllChecked = 1;
                });

                if (isAllChecked == 0) {
                    $("#checkAll").prop("checked", true);
                }
            }
            else {
                $("#checkAll").prop("checked", false);
            }
        });

        // Hide or display the letter or status select fields depending on the selected action
        $('#action_select').change(function() {
            if ('change_status' === $(this).children("option:selected").val()) {
                $('#status_select').css('display', 'inline');
                $('#letter_select').css('display', 'none');
            } else if ('serial_letter' === $(this).children("option:selected").val()) {
                $('#status_select').css('display', 'none');
                $('#letter_select').css('display', 'inline');
            } else {
                $('#status_select').css('display', 'none');
                $('#letter_select').css('display', 'none');
            }
        });


        // Some eye candy to show to the user that something happens when the button is clicked:
        $('button').click(function(e) {
            $('#js-ok-symbol')
                .html('<span class="fas fa-spinner fa-spin"></span>')
                // The spinner is faded out on first load, so it might have to be faded in
                .fadeTo(0,1);
            let action = $('#action_select').children("option:selected").val();
            // When the executed action is one of the following, then the table has to be updated.
            let updatePageActions = ['generate_transactions', 'transactions_paid', 'set_use_direct_debit', 'remove_use_direct_debit'];
            if (updatePageActions.includes(action)) {
                e.preventDefault();
                let form_data = $('#action_select').closest("form").serialize();
                doAjax("{{ path('dashboard_manage_finances_actions') }}", false, form_data, null, updateList);
            }
            setTimeout(function() {
                $('#js-ok-symbol')
                    .html('<span class="fas fa-check"></span>')
                    .fadeOut(2000);
                // updateList();

            }, 1000);
        });

    });
</script>
