{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="card mt-3 mb-2">
    <h6 class="card-header text-dark">{% trans %}Filters{% endtrans %}</h6>
    <div class="card-body">
        {{ form_start(selectionForm, {'attr': {'id': 'selection_form'}, 'action': path(action)}) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_label(selectionForm.status) }}
                {{ form_widget(selectionForm.status) }}
            </div>
            <div class="col-md-2">
                {{ form_label(selectionForm.membershipType) }}
                {{ form_widget(selectionForm.membershipType) }}
            </div>
            <div class="col-md-2">
                {{ form_label(selectionForm.email) }}
                {{ form_widget(selectionForm.email) }}
            </div>
            <div class="col-md-2">
                {{ form_label(selectionForm.debt) }}
                {{ form_widget(selectionForm.debt) }}
            </div>
            <div class="col-md-2">
                <label class="control-label required">{% trans %}Others{% endtrans %}</label>
                {{ form_widget(selectionForm.membershipEndRequested) }}
                {{ form_widget(selectionForm.directDebit) }}
            </div>
        </div>
        {{ form_end(selectionForm) }}

    </div><!--  class=panel-body -->
</div><!-- panel panel-default -->
