{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Log file' : ''} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2"  id="logfile_entry_table">
        <h6 class="card-header text-dark">{% trans %}Log file entry list{% endtrans %}</h6>
        <div class="card-body">
            <div class="col-md-12 form-horizontal">
                {{ form_start(form, {'attr': {'id': 'selection_form'}, 'action': path('core_dashboard_logfile_show')}) }}
                <div class="col-md-6"> {{ form_row(form.numberLimit) }}</div>
                <table class="table table-striped">
                    <tr>
                        <th>{% trans %}When{% endtrans %}</th>
                        <th>{% trans %}By whom{% endtrans %}</th>
                        <th>{% trans %}On who{% endtrans %}</th>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th colspan="4">{% trans %}What{% endtrans %}</th>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.dateRange) }}</td>
                        <td>{{ form_row(form.searchByWhom, {'attr': {'placeholder': 'search by name'} }) }}</td>
                        <td>{{ form_row(form.searchOnWho, {'attr': {'placeholder': 'search by name'} }) }}</td>
                        <td>{{ form_row(form.changeType) }}</td>
                        <td colspan="4">{{ form_row(form.searchWhat, {'attr': {'placeholder': 'search content'} }) }}</td>
                    </tr>
                    <tbody id="table-body">
                    {% include 'Dashboard/logfile_entry_table.html.twig' %}
                    </tbody>
                </table>
            </div>  <!-- class="col-md-12" -->
        </div><!--  class=panel-body -->
        {{ form_end(form) }}
    </div> <!-- logfile_entry_table -->
</div> <!-- container -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('#selection_form').on('input', function(){
                var form_data = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '{{ path('core_dashboard_logfile_show')  }}',
                    data: form_data
                })
                    .done(function(data){

                        // show the response
                        $('#table-body').html(data);

                    })
                    .fail(function() {

                        // just in case posting your form failed
                        alert( "Posting failed." );

                    });
            });
        });
    </script>
{% endblock %}

