{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Manage finances' : ''} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    {% set action = 'dashboard_show_finances' %}
    {% if is_granted('ROLE_SELECT_OTHER_USER_GROUPS') %}
        {% include 'extended_member_selection.html.twig' %}
    {% endif %}

    <div class="panel panel-default" id="member_table">
        {% include 'Dashboard/finances_table.html.twig' %}
    </div> <!-- member_table -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        /**
         * Execute an ajax call
         *
         * @param url          URL which is called
         * @param isPost       True when this is a post call, false for a get call
         * @param inputData    Data to be passed to the url
         * @param returnId     CSS id of the html element to be replaced by the content returned to the ajax call. This
         *                     step is omitted when it is set to null.
         * @param executeAfter Function which is called after the ajax call returns. When set to null, this is omitted.
         *
         * @returns {boolean}
         */
        function doAjax(url, isPost, inputData, returnId = null, executeAfter = null)
        {
            $.ajax({
                type: isPost ? 'POST':'GET',
                url: url,
                data: inputData
            })
                .done(function(data){
                    // If set, replace the content of the returnId
                    if (null !== returnId) {
                        $(returnId).html(data);
                    }
                    // If set, call the passed function
                    if (null !== executeAfter) {
                        executeAfter();
                    }
                })
                .fail(function() {
                    alert("Posting failed.");
                });

            // to prevent refreshing the entire page page
            return false;
        }

        function updateList() {
            let form_data = $('#selection_form').serialize();
            doAjax($('#selection_form').attr('action'), true, form_data, '#member_table', null);
        }

        $(function(){
            $('#selection_form').click(function(){
                updateList();
            });

        });
    </script>
{% endblock %}
