{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set any_action, serialletter_action, serialemail_action, status_action = false, false, false, false %}
{%- if is_granted('ROLE_CREATE_SERIAL_LETTERS') %}
    {%- set serialletter_action = true -%}
    {% set any_action = true %}
{%- endif -%}
{%- if is_granted('ROLE_SEND_SERIAL_EMAILS') %}
    {%- set serialemail_action = true -%}
    {% set any_action = true %}
{%- endif -%}
{%- if is_granted('ROLE_MANAGE_MEMBER_CLUB_SETTINGS') %}
    {%- set status_action = true -%}
    {% set any_action = true %}
{%- endif -%}
{% set status_style, serialletter_style = 'none', 'inline' %}
{% if not (status_action and serialletter_action) %}
    {% if status_action %}
        {% set serialletter_style = 'none' %}
        {% set status_style = 'inline' %}
    {% endif %}
    {% if serialletter_action %}
        {% set serialletter_style = 'inline' %}
    {% endif %}
{% endif %}

    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Entry list{% endtrans %} &nbsp;
        </h6>
        <div class="card-body">
            {% if members %}
        {%- if any_action -%}
        <form class="form-inline" action="{{ path('dashboard_memberlist_actions') }}" id="action_selection">
        {%- endif -%}
            <table class="table table-striped">
            <tr><th></th><th></th><th></th><th>{% trans %}Title{% endtrans %}</th><th>{% trans %}Last name{% endtrans %}</th><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}Email{% endtrans %}</th><th colspan="2">{% trans %}Phone{% endtrans %}</th><th colspan="5">{% trans %}Address{% endtrans %}</th></tr>
            <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>{% trans %}Type{% endtrans %}</th><th>{% trans %}Number{% endtrans %}</th><th>{% trans %}Type{% endtrans %}</th><th>{% trans %}Address{% endtrans %}</th><th>{% trans %}Zip{% endtrans %}</th><th>{% trans %}City{% endtrans %}</th><th>{% trans %}Country{% endtrans %}</th></tr>
            {% for member in members%}
                {# Only show edit symbol when it is my own user or the role allows to edit others #}
                {% if is_granted('ROLE_EDIT_OTHER_USERS') or app.user.userName == member.userName %}
                  {% set edit = true %}
                {% else %}
                    {% set edit = false %}
                {% endif %}
                {# Show the selection checkbox when the current user is allowed to create serial letters #}
                <tr valign="top">
                    <td class="loop">{{ loop.index }}</td>
                    <td>{% if any_action %}<input type="checkbox" name="member[]" value="{{ member.id }}" class="checkSingle"/>{% endif %}</td>
                    <td>{% if edit %}<a href="{{ path('member_data', {'userName': member.userName}) }}"><i class="far fa-edit"></i></a>&nbsp;{% endif %}</td>
                    <td>{% if member.title %}{{ member.title.title }}{% endif %}</td><td>{{ member.Name }}</td><td>{{ member.firstName }}</td><td>{{ member.Email }}</td><td>
                        {# First write all phone number types in one table, each in a single line (i.e. using <br/>),
                           then do the same with the actual phone numbers #}
                        {% for phone_number in member.PhoneNumbersAsArray %}
                            {{ phone_number.type | replace({' ': '&nbsp;'}) | raw }}:<br/>
                        {%- else -%}
                            -
                        {% endfor %}
                    </td><td>
                        {% for phone_number in member.PhoneNumbersAsArray %}
                            {{ phone_number.phone_number | replace({' ': '&nbsp;'}) | raw }}<br/>
                        {% endfor %}
                    </td><td>
                        {# First write all address types in one table, each in a single line (i.e. using <br/>),
                           then do the same with the actual address fields #}
                        {% for address in member.AddressesAsArray %}
                            {{ address.type | replace({' ': '&nbsp;'}) | raw }}:<br/>
                        {% else %}
                            -
                        {% endfor %}
                    </td><td>
                        {% for address in member.AddressesAsArray %}
                            {{ address.address | replace({' ': '&nbsp;'}) | raw }}<br/>
                        {% endfor %}
                    </td><td>
                        {% for address in member.AddressesAsArray %}
                            {{ address.zip | replace({' ': '&nbsp;'}) | raw }}<br/>
                        {% endfor %}
                    </td><td>
                        {% for address in member.AddressesAsArray %}
                            {{ address.city | replace({' ': '&nbsp;'}) | raw }}<br/>
                        {% endfor %}
                    </td><td>
                        {% for address in member.AddressesAsArray %}
                            {{ address.country | replace({' ': '&nbsp;'}) | raw }}<br/>
                        {% endfor %}
                    </td></tr>
            {% endfor %}
            {% if any_action %}
                <tr><td></td><td colspan="13"><input type="checkbox" id="checkAll"> {% trans %}Check all{% endtrans %}</td></tr>
                <tr><td></td><td colspan="13"><img src="{{ asset('select_arrow.png') }}">
                <select class="form-control mb-2 mr-sm-2" name="action_select" id="action_select">
                    {% if serialletter_action %}<option value="serial_letter">{% trans %}Generate serial letter{% endtrans %}</option>{% endif %}
                    {% if serialemail_action %}<option value="serial_email">{% trans %}Send serial emails{% endtrans %}</option>{% endif %}
                    {% if status_action %}<option value="change_status">{% trans %}Change members status to{% endtrans %}</option>{% endif %}
                </select>
                {% if serialletter_action %}
                <select class="form-control mb-2 mr-sm-2" name="letter_select" id="letter_select"  style="display: {{ serialletter_style }}">
                {% for letter in serialLetters -%}
                    {% set title = letter.title(app.request.locale) %}
                    <option value="{{ letter.id }}">{{ title |length > 100 ? title|slice(0, 100) ~ '…' : title }}</option>
                {% endfor -%}
                </select>
                {% endif %}
                {% if serialemail_action %}
                <select class="form-control mb-2 mr-sm-2" name="emailtemplate_select" id="emailtemplate_select"  style="display: none">
                    {% for template in emailTemplates -%}
                        {% set title = template.templateName %}
                        <option value="{{ template.id }}">{{ title |length > 100 ? title|slice(0, 100) ~ '…' : title }}</option>
                    {% endfor -%}
                </select>
                {% endif %}
                {% if status_action %}
                <select class="form-control mb-2 mr-sm-2" name="status_select" id="status_select" style="display: {{ status_style }}">
                    {% for status in statuses -%}
                        <option value="{{ status.id }}">{{ status }}</option>
                    {% endfor -%}
                </select>
                {% endif %}
                    <button type="submit" class="btn btn-outline-secondary">{% trans %}Excecute{% endtrans %}</button>
                    {# The following will add a span, which is used to display a spinner and check symbol later on by
                       the ajax call. Because loading the spinner is slow the first time, it is loaded here and set to
                        invisible. This is done in a second span, which is overwritten by the ajax done. #}
                    <span id="js-ok-symbol"><span  class="fas fa-spinner" style="opacity: 0"></span></span></td>
                </tr>
            {% endif %}
        </table>
        {%- if any_action -%}
        </form>
        {% endif %}
    {% else %}
        {% trans %}No member entries found{% endtrans %}
    {% endif %}
    </div><!--  class=card-body -->
</div><!--  card -->

<script>
    $(document).ready(function() {
        // When the check all checkbox is checked, then all checkboxes are checked.
        $("#checkAll").change(function() {
            if (this.checked) {
                $(".checkSingle").each(function() {
                    this.checked=true;
                });
            } else {
                $(".checkSingle").each(function() {
                    this.checked=false;
                });
            }
        });

        // When a single checkbox is cleared while before all checkboxes were checked, then clear the check all checkbox
        $(".checkSingle").click(function () {
            if ($(this).is(":checked")) {
                var isAllChecked = 0;

                $(".checkSingle").each(function() {
                    if (!this.checked)
                        isAllChecked = 1;
                });

                if (isAllChecked == 0) {
                    $("#checkAll").prop("checked", true);
                }
            }
            else {
                $("#checkAll").prop("checked", false);
            }
        });

        // Hide or display the letter or status select fields depending on the selected action
        $('#action_select').change(function() {
            if ('change_status' === $(this).children("option:selected").val()) {
                $('#status_select').css('display', 'inline');
                $('#emailtemplate_select').css('display', 'none');
                $('#letter_select').css('display', 'none');
            } else if ('serial_email' === $(this).children("option:selected").val()) {
                $('#status_select').css('display', 'none');
                $('#emailtemplate_select').css('display', 'inline');
                $('#letter_select').css('display', 'inline');
            } else {
                $('#status_select').css('display', 'none');
                $('#emailtemplate_select').css('display', 'none');
                $('#letter_select').css('display', 'inline');
            }
        });

        // Some eye candy to show to the user that something happens when the button is clicked:
        // Show a spinner for 1s, then show the OK symbol, which fades out.
        $('button').click(function() {
            $('#js-ok-symbol')
                .html('<span class="fas fa-spinner fa-spin"></span>')
                // The spinner is faded out on first load, so it might have to be faded in
                .fadeTo(0,1);
                setTimeout(function() {
                    $('#js-ok-symbol')
                        .html('<span class="fas fa-check"></span>')
                        .fadeOut(2000);
                }, 1000);
        });


        });
</script>