{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Member lists' : ''} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    {% set action = 'dashboard_show_memberlist' %}
    {% if is_granted('ROLE_SELECT_OTHER_USER_GROUPS') %}
        {% include 'extended_member_selection.html.twig' %}
    {% endif %}
    <div class="panel panel-default" id="member_table">
        {% include 'Dashboard/member_table.html.twig' %}
    </div> <!-- member_table -->
</div> <!-- container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('#selection_form').click(function(){
                var form_data = $(this).serialize();
                $.ajax({
                            type: 'POST',
                            url: $(this).attr('action'),
                            data: form_data
                        })
                        .done(function(data){

                            // show the response
                            $('#member_table').html(data);

                        })
                        .fail(function() {

                            // just in case posting your form failed
                            alert( "Posting failed." );

                        });
            });

        });
    </script>
{% endblock %}

