{#
 Copyright (C) 2022 by Luc Hamers <vereniging@hamers.de>

 This file is part of Vereniging.

 Vereniging is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Vereniging is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Vereniging.  If not, see <https://www.gnu.org/licenses/>.
#}

{% macro writeTable(title, headers, list, translateValues) %}
    {%- set id = title|lower|replace({' ': '-'}) %}
    <div class="col-md-2" id="{{ id }}">
        <div>{{ title|trans }}:</div>
        <table class="table table-sm table-hover table-striped">
            <thead class="thead-light">
                <tr><th>{{ headers[0]|trans }}</th><th>{{ headers[1]|trans }}</th></tr>
            </thead>
            {%- for value, count in list -%}
                <tr><td>{{ translateValues ? value | trans : value| default('Unknown'|trans) }} </td><td> {{ count }}</td></tr>
            {% endfor -%}
        </table>
    </div><!-- class="col-md-2" -->
{% endmacro %}

{% extends 'layout.html.twig' %}
{% set dashboard_subpage = {'Statistics' : ''} %}

{% block body %}

{{ parent() }}

<div class="container-fluid">
    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}General statistics{% endtrans %}</h6>
        <div class="card-body">
            <div class="row">
                {{ _self.writeTable('Members per status', {0: 'Status', 1: 'Member entries'}, countsPerStatus, false) }}
                {{ _self.writeTable('Members per language', {0: 'Preferred language', 1: 'Member entries'}, countsPerLanguage, false) }}
                {{ _self.writeTable('Members per membership start', {0: 'Member since', 1: 'Member entries'}, countsPerMemberSince, false) }}
                {{ _self.writeTable('Members per use direct debit', {0: 'Use direct debit', 1: 'Member entries'}, countsPerUseDirectDebit, true) }}
            </div><!-- class="row" -->
        </div><!-- class="card-body" -->
    </div><!-- class="card mt-3 mb-2" -->

    <div class="card mt-3 mb-2">
        <h6 class="card-header text-dark">{% trans %}Financial statistics{% endtrans %}</h6>
        <div class="card-body">
            <div class="row" id="financial-statistics">
                <table class="table-bordered table-sm table-hover table-striped">
                    <thead>
                    <tr><th>{% trans %}Year{% endtrans %}</th><th>{% trans %}Expected contribution{% endtrans %}</th><th>{% trans %}Paid{% endtrans %}</th><th>{% trans %}Outstanding{% endtrans %}</th></tr>
                    </thead>
                    {% for year, data in membershipFeeStatistics %}
                        <tr><td>{{ year }}</td><td style="text-align: right">{{ data.expected|format_currency('EUR') }}</td><td style="text-align: right">{{ data.paid|format_currency('EUR') }}</td><td style="text-align: right">{{ data.outstanding|format_currency('EUR') }}</td></tr>
                    {% endfor %}
                </table>
            </div><!-- class="row" -->
        </div><!-- class="card-body" -->
    </div><!-- class="card mt-3 mb-2" -->
</div>
{% endblock %}
